{% extends 'app/includes/base.html' %}
{% load static %}
{% block content %}


      <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay innerpage" style="background-image: url('{% static './assets/images/bakkies-c.png' %}')">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1>About Us</h1>
              <p>We pride ourselves in our great workmanship! </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mr-auto">
            <h2>Our Company</h2>
            <p>Alin Elfen Electrical Enterprises is situated in Krugersdorp in Gauteng Province. We specialize in High Tension Electrical work which includes Generator installation and maintenance upto 640kva, repair and maintenance of Transformers, High Tension cable fault finding. We will travel to any Province if the job is worth it. </p>
            <p>We love what we do and we have happy clients all over South Africa. Some of our biggest clientele includes major government departments like, Department of Infrastructures and Development and Department of Health!</p>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="{% static './assets/images/logo.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto">
            <h2>Our History</h2>
            <p>Alin Elfen Electrical Enterprises was established in 1998. We have been in the electrical contracting business for just over 24 yrs. We are BEE Compliant as well as registered with relevant bodies in our electrical industries. Our leadership ensures that we stay abreast and on top of our game using the latest technologies while producing remarkable workmanship!</p>
            <p>We have a culture of education and training where we have trained so many apprentices , some of them still work for us as qualified electricians.</p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}