
{% extends 'app/includes/base.html' %}
{% load static %}
{% block content %}

<!-- images/hero_1.jpg -->
      <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay" 
      style="background-image: url('{% static './assets/images/bakkies-c.png' %}')";>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <h1 class="line-bottom" style="font-size:30px">We are the market leaders in electrical contracting business.</h1>
            </div>
            <div class="col-lg-5 ml-auto">
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- projects -->
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-5 pr-md-5 mr-auto" >
            <h2 class="line-bottom">Get In Touch!</h2>
            <p>Our dedicated team will get back to you as soon as we can.</p>
          </div>
          <div class="col-md-6">
            <div class="quick-contact-form bg-white">
                <h2>Get In Touch!</h2>
                <form action="#" method="" >
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <textarea name="" class="form-control" id="" cols="30" rows="5" placeholder="Message"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Send Message" class="btn btn-primary px-5"
                    style = "background-color: #fb7400;" >
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>



{% endblock content %}