asgiref==3.5.2
autopep8==1.7.0
backports.zoneinfo==0.2.1
dj-database-url==1.0.0
Django==4.1.2
django-heroku==0.3.1
gunicorn==20.1.0
Pillow==9.2.0
psycopg2==2.9.4
pycodestyle==2.9.1
sqlparse==0.4.3
toml==0.10.2
tzdata==2022.5
whitenoise==6.2.0
python-decouple==3.6
