{% load static %}

<header class="site-navbar site-navbar-target" role="banner">
  <div class="container">
    <div class="row align-items-center position-relative">
      <div class="col-3">
        <div class="site-logo">
          <a href=" {% url 'home' %} "
            ><strong class="alin-elfen">Alin Elfen Electrical</strong><br />
            Enterprises <span class="text-primary">.</span>
          </a>
        </div>
      </div>

      <div class="col-9 text-right">
        <span class="d-inline-block d-lg-none">
          <a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white">
          <span class="icon-menu h3 text-white"></span>
          </a></span>
          {% comment %} nav {% endcomment %}
        <nav
          class="site-navigation text-right ml-auto d-none d-lg-block"
          role="navigation">
        
          <ul class="site-menu main-menu js-clone-nav  ml-auto">
            <li class="active">
              <a href="{% url 'home' %}" class="nav-link">Home </a>
            </li>
            <li>
              <a href="{% url 'about' %}" class="nav-link">About </a>
            </li>
            <li>
              <a href="{% url 'services' %}" class="nav-link">Services </a>
            </li>
            <li>
              <a href="{% url 'contact' %}" class="nav-link">Contact </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<!-- <li><a href="projects.html" class="nav-link">Projects</a></li> -->
{% comment %}
<li><a href="blog.html" class="nav-link">Blog</a></li>
{% endcomment %} {% comment %}
<nav
  class="site-navigation text-right ml-auto d-none d-lg-block"
  role="navigation"
>
  <ul class="site-menu main-menu js-clone-nav ml-auto">
    <li class="active">
      <a href="{% url 'home' %}" class="nav-link">Home </a>
    </li>
    <li>
      <a href="{% url 'about' %}" class="nav-link">About </a>
    </li>
    <li>
      <a href="{% url 'services' %}" class="nav-link">Services </a>
    </li>
    <li>
      <a href="{% url 'contact' %}" class="nav-link">Contact </a>
    </li>
  </ul>
</nav>
{% endcomment %}
